name: Cron actions

on:
  schedule:
    - cron: "0 0 31 1,3,5,7,8,10,12 *"
    - cron: "0 0 30 4,6,9,11 *"
    - cron: "0 0 28 2 *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v4"

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: brands

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

      - name: Setup Python
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"
      - name: Install requirements
        run: python3 -m pip install -r requirements_test.txt
      - name: Run tests
        run: |
          pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.nodered \
            -o console_output_style=count \
            -p no:sugar \
            tests
