name: Pull actions

on:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v4"

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: brands

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  style:
    runs-on: ubuntu-latest
    name: Check style formatting
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: pre-commit/action@v3.0.1

  # tests:
  #   runs-on: "ubuntu-latest"
  #   name: Run tests
  #   steps:
  #     - name: Check out code from GitHub
  #       uses: "actions/checkout@v4"
  #     - name: Setup Python
  #       uses: "actions/setup-python@v5"
  #       with:
  #         python-version: "3.12"
  #     - name: Install requirements
  #       run: python3 -m pip install -r requirements_test.txt
  #     - name: Run tests
  #       run: |
  #         pytest \
  #           -qq \
  #           --timeout=9 \
  #           --durations=10 \
  #           -n auto \
  #           --cov custom_components.nodered \
  #           -o console_output_style=count \
  #           -p no:sugar \
  #           tests
